<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Social Media App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li>
                <a class="nav-link profileLink" href="">Profile</a>
            </li>
            <li>
                <a class="nav-link" onclick="logout()", href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="offline_div" id="offline_div" style="display:none"><p>application is offline</p></div>