<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/inline.css">

    <link rel="manifest" href="/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Project PWA">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <script src="/scripts/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/likes.js"></script>
    <script src="/scripts/stories.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
</head>

<body onload="initStories(), reIfLogged()">
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Social Media App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./home">Home</a>
            </li>
            <li >
                <a class="nav-link" href="./stories">New Story</a>
            </li>
            <li >
                <a class="nav-link" href="./likes">Likes</a>
            </li>
            <li>
                <a class="nav-link" onclick="logout()", href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" >
    <div class="row">
        <div class="col-xs-10"><h1><%= title %></h1></div>
    </div>
</div>

</body>
</html>