<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/inline.css">
</head>
<body>

<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-xs-10"><h1><%= title %></h1></div>
    </div>
</div>

<br>

<div class="navbar">
    <span><a href="./home">home</a></span>
    <span><a href="./createstory">new story</a></span>
    <span><a href="./liked">Likes</a></span>
    <span><a href="/logout">log out</a></span>
</div>


</body>
</html>