<%- include partials/loginheader.ejs %>


<div class="container" style="width: 100%">

    <div class="bodywrapper">
        <h1>Welcome</h1>
        <section class="buttonwrapper">
            <div class="card frontpage_card">
                <h2 class = "card-title">Not a member?</h2>
                <a href="/register"><button class ="btn btn-primary frontpage_btn">Sign Up</button></a>
            </div>
            <div class="card frontpage_card">
                <h2 class="card-title">Already a member?</h2>
                <a href="/login"><button class="btn btn-primary frontpage_btn">Log In</button></a>
            </div>
        </section>
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
</div>

<div id="results" style="text-align: center">

</div>
</div>
</div>

</div>
<script src="/scripts/app.js"></script>
<script src="/scripts/database.js"></script>

</body>
</html>
