<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/inline.css">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
</head>
<body>

<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-xs-10"><h1><%= title %></h1></div>
    </div>
</div>

<br>

<div class="navbar">
    <span><a href="./home">home</a></span>
    <span><a href="./stories">new story</a></span>
    <span><a href="./likes">Likes</a></span>
    <span><a onclick="logout()", href="#">log out</a></span>
</div>


</body>
</html>