<%- include partials/loginheader.ejs %>

<div class = "form-group container">
    <h1>Login</h1>
    <br>
    <form id="logform"  onsubmit="return false;">
        <label for="username">Username:</label><br>
        <input class ="form-control" type="text" id="username" name="username" value=""><br>
        <label for="password">Password:</label><br>
        <input class = "form-control"  type="password" id="password" name="password" value=""><br><br>
        <button class = "btn btn-primary" type="button" onclick=login() >Login</button>
        <button class = "btn btn-primary" type="button" onclick=addJsonData() >add JSON data</button>
    </form>
</div>


</div>
</div>

</div>


</body>
</html>
