<%- include partials/appheader %>
<body onload="reIfLogged(), getSortingMethod(), onLoadProfile('<%=username%>')">
<%- include partials/appnavbar %>

<div class="container" style="width: 100%">

    <div class="page-header"><h1><%=username%></h1></div>

    <div id="storyContainer">

    </div>
</div>


</body>

</html>