<%- include partials/loginheader.ejs %>

<div class="container">
<h1>Register</h1>

<div class = "form-group">
    <form id="regform"  onsubmit="return false;">
        <label for="username">Username:</label><br>
        <input class = "form-control" type="text" id="username" name="username" value=""><br>
        <label for="password">Password:</label><br>
        <input class = "form-control" type="password" id="password" name="password" value=""><br><br>
        <button class = "btn btn-primary" type="button" onclick=register() >Register</button>
     </form>
</div>
</div>



</div>
</div>
</div>

</div>

</body>
</html>
