<%- include partials/appheader %>
<body onload="initStories(true), reIfLogged(), getSortingMethod()">
<%- include partials/appnavbar %>

<div class="container" style="width: 100%">

    <div class="page-header"><h1>Story Feed</h1></div>

    <form>
        <label for="New Story">Create a new story</label>
        <textarea class="form-control" id="newstory" rows="3" cols="50"></textarea>
        <br>
        <button type="button" class="btn btn-primary" onclick="createPost()" >Create Post</button>

    </form>
    <br><br>

    <div>
        <select id="toggle" name="toggle" onchange="setSortingMethod()" >
            <option value="date">date</option>
            <option value="recommended">recommended</option>
        </select>
    </div>
    <br>
    <div id="storyContainer">
    </div>
</div>


</body>

</html>
