<!--
 Copyright 2016 Google Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/inline.css">

    <!-- TODO add manifest here -->
    <link rel="manifest" href="/manifest.json">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Latest compiled JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>

</head>
<body onload="initStories(), reIfLogged()">


<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/stories">Social Media App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="./home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./stories">New Story</a>
            </li>
            <li>
                <a class="nav-link" href="./likes">Likes</a>
            </li>
            <li>
                <a class="nav-link" onclick="logout()", href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-xs-10"><h1>Stories</h1></div>
    </div>
</div>

<form>
<div class="form-group">
    <label for="New Story">Create a new story</label>
    <textarea class="form-control" id="newstory" rows="3" cols="50"></textarea>
    <br>
    <button type="button" class="btn btn-primary" onclick="createPost()">Create Post</button>
</div>
</form>


<div id="results">
</div>
</body>

</html>
